{{#with data}}
  <footer class='row g-0 footer'>

    <div class='nav footer_nav'>
      {{#each pages}}
        <div class='col-3'>

          <a href='{{path}}' class='nav_link'>{{name}}</a>

        </div>
      {{/each}}
    </div>

    <div class='col-3'>
      <span class='footer_copiright'>{{copyright}}</span>
    </div>

  </footer>
{{/with}}