{{#with data}}
  <header class='header row g-0'>
    <div class="col-3">
      
      <div class='logo'>
        <span class='badge text-bg-primary'>{{brandName}}</span>
      </div>
      
    </div>
    
    <nav class='header_nav col-9'>

      <div class="header_nav_right">
        {{> nav list=links}}
      </div>
    </nav>
  </header>
  
  <div class="header_bottom">
    <a href="{{ad.url}}" class="ad_button">Ad</a>
    <span class="ad_text">{{ad.text}}</span>
    <div class="user_online">User Online: {{userOnline}}</div>
  </div>
{{/with}}